<!DOCTYPE html>
<html lang="en">
    <style>
        {
            font-family: 'Courier New', Courier, monospace;
        }
        .body {
            background-color: aqua;
        }
        .h1{
            color: brown;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><h1>IPC_dictionary</h1>
    <p>{{ipc}} </p>></div>
    <form method="post">
        <p>login</p><br>
        <input name = "u">
        <input type="submit">

    </form>

</body>


</html>

